.WidgetContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  color: black;
  font-size: 16px;
  font-family: $font-body;

  & {
    scrollbar-width: thin;

    ::-webkit-scrollbar {
      width: 6px;
      height: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: $color-primary;
    }

    /* On hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    /* On active (click) */
    ::-webkit-scrollbar-thumb:active {
      background: #777;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  &__Bubble {
    width: $bubble-size;
    height: $bubble-size;
    background-color: $color-primary;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: $color-background;
  }

  &__BubbleIcon {
    width: $bubble-icon-size;
  }

  &__WidgetContent {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    height: $widget-height;
    width: $widget-width;
    border-radius: $rounded-corners;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  &__MinimizeButton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-self: flex-end;
    cursor: pointer;
    background-color: $color-secondary;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__MinimizeLine {
    height: 2px;
    width: 60%;
    background-color: $color-background;
    margin: auto;
  }
}
