.SidebarContainer {
  height: 100%;
  background-color: $color-primary;
  width: $sidebar-width;
  border-top-left-radius: $rounded-corners;
  border-bottom-left-radius: $rounded-corners;
}

.Sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100%;
  gap: 16px;

  &__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__Item {
    cursor: pointer;
  }
}
